<section class="events">
  <div class="container">
    <h2 class="visually-hidden">Find Your Event</h2>
    <ul class="js-events-container events__list list">
      <!-- <li class="events__item">
        <a href="" class="link events__link" target="_blank" rel="noreferrer noopener">
          <div class="events__image-wrap">
            <picture>
              <source
                srcset="
                  ./images/item-card/monatik-mob-128.jpg      128w,
                  ./images/item-card/monatik-mob-256.jpg      256w,
                  ./images/item-card/monatik-mob-384.jpg      384w,
                  ./images/item-card/monatik-tab-desc-180.jpg 180w,
                  ./images/item-card/monatik-tab-desc-360.jpg 360w,
                  ./images/item-card/monatik-tab-desc-540.jpg 540w
                "
                type="image/jpeg"
                sizes="(min-width: 1280px) 180px, (min-width: 768px) 180px, (min-width: 320px) 128px"
              />

              <img
                src="./images/item-card/monatik-mob-128.jpg"
                alt="Mr. Monatik"
                class="events__image"
              />
            </picture>
          </div>
          <div class="events__descr">
            <h3 class="events__name">Monatik</h3>
            <p class="events__date">2021-05-13</p>
            <p class="events__location">
              <svg class="events__location-icon" width="16" height="12">
                <use href="./images/svg/symbol-defs.svg#icon-map"></use>
              </svg>
              VDNH
            </p>
          </div>
        </a>
      </li> -->
      <!--  -->
    </ul>

    <div class="pagination tui-pagination" id="pagination"></div>
  </div>
</section>
