<section class="head hero-bg">
  <div class="box-blur">
    <img class="logo" src="./images/logo/logo.png" alt="" />
  </div>

  <div class="container">
    <!-- <picture class="logo">
      <source
        srcset="
          ./images/logo/logo-webp/logo-desktop.webp    1x,
          ./images/logo/logo-webp/logo@2x-desktop.webp
        "
        media="(min-width: 1280px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/logo/logo-webp/logo-tablet.webp    1x,
          ./images/logo/logo-webp/logo@2x-tablet.webp
        "
        media="(min-width: 768px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/logo/logo-webp/logo-mobile.webp    1x,
          ./images/logo/logo-webp/logo@2x-mobile.webp
        "
        media="(min-width: 320px)"
        type="image/webp"
      />
      <source
        srcset="./images/logo/logo-desktop.png 1x, ./images/logo/logo@2x-desktop.png 2x"
        media="(min-width: 1280px)"
        type="image/png"
      />
      <source
        srcset="./images/logo/logo-tablet.png 1x, ./images/logo/logo@2x-tablet.png 2x"
        media="(min-width: 768px)"
        type="image/png"
      />
      <source
        srcset="./images/logo/logo-mobile.png 1x, ./images/logo/logo@2x-mobile.png 2x"
        media="(min-width: 320px)"
        type="image/png"
      />

      <img src="./images/logo/logo-desktop.png" alt="" />
    </picture> -->

  
    <include src="./partials/theme-switch.html"></include>
    <div class="heading">
      <h1 class="header-title title">
        <b
          >F<span>I</span>ND <span>BEST</span> EVEN<span>T</span>S AB<span>O</span>UT THE
          W<span>O</span>RLD
        </b>
      </h1>
    </div>
  </div>
</section>
