<!-- LIGHT THEME SWITCH -->

<div class="toolbar">
  <div class="theme-switch">
    <span class="material-icons sun"> brightness_low </span>

    <div class="theme-switch__control">
      <input
        class="theme-switch__toggle"
        type="checkbox"
        name="theme"
        id="theme-switch-toggle"
        aria-label="Switch between dark and light theme"
      />
      <label aria-hidden="true" class="theme-switch__track" for="theme-switch-toggle"> </label>
      <div aria-hidden="true" class="theme-switch__marker"></div>
    </div>

    <span class="material-icons moon"> dark_mode </span>
  </div>
</div>
