.modal-overlay {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: rgba(32, 13, 29, 0.6);
  backdrop-filter: blur(3px);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: all 0.5s var(--transition-cube-function) var(--transition-delay);
}

.modal-overlay.is-open {
  opacity: 1;
  width: 100%;
  height: 100%;
  visibility: visible;
  pointer-events: initial;
  align-items: flex-start;
  justify-content: center;
  z-index: 120;

  transition: all 0.5s var(--transition-cube-function);

  & .modal {
    opacity: 1;
    visibility: visible;
    transition: all 0.6s var(--transition-cube-function) 1s;
  }
}

.modal {
  margin: 5% auto 5%;
  position: relative;
  width: 768px;
  z-index: 125;

  backdrop-filter: blur(3px);
  background: #fff2fd;
  border-radius: 150px 0px;

  visibility: hidden;
  opacity: 0;
  transition: all 0.4s var(--transition-cube-function);

  @media screen and (max-width: 767.98px) {
    width: 275px;
    max-width: 100%;
    max-height: 915px;
    padding: 75px 15px 105px 15px;
  }
  @media screen and (min-width: 768px) {
    width: 595px;
    max-width: 100%;
    max-height: 831px;
    padding: 30px 15px 55px 50px;
    border-radius: 300px 0px;
  }

  @media screen and (min-width: 1280px) {
    width: 930px;
    max-width: 100%;
    max-height: 1020px;
    padding: 62px 30px;
    border-radius: 300px 0px;
  }

  & .modal__btn-close {
    padding: 3px;
    cursor: pointer;
  }

  & .modal__btn-close:before,
  .modal__btn-close:after {
    background-color: var(--modal-accent-color);
  }
}

.overflow-hidden {
  overflow: hidden;
}
